<% layout('layouts/boilerplate') %>
<div class="container mt-5">
  <h1 class="text-center">What Would You Like to Create?</h1>
  <div class="row justify-content-center mt-4">
    <div class="col-md-4 mb-3">
      <a href="/posts/new" class="btn btn-primary w-100 py-3">Create a Post</a>
    </div>
    <div class="col-md-4 mb-3">
      <a href="/workoutPlans/generate" class="btn btn-success w-100 py-3">Create a Workout Plan</a>
    </div>
    <div class="col-md-4 mb-3">
      <a href="/mealPlans/generate" class="btn btn-warning w-100 py-3">Create a Meal Plan</a>
    </div>
  </div>
</div>
