<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONDITION</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="homepage">
    <% layout('layouts/boilerplate')%>

    <div class="container">
        <header class="header">
            
            <h1>Welcome to <span class="brand">KONDITION</span>!</h1>
        </header>
        <p class="description">Your journey to fitness, health, and well-being starts here. Join now and share your workouts, meals, and progress!</p>
        <a href="/register" class="btn btn-register">Register Now</a>
    </div>
</body>

</html>
