<% layout('layouts/boilerplate')%>
<h1 class="text-center">Login</h1>
<form action="/login" method="POST" class="validated-form mt-4" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="remember" name="remember">
        <label class="form-check-label" for="remember">Remember me</label>
    </div>

    <button class="btn btn-success w-100">Login</button>
</form>

<div class="text-center mt-3">
    <p>Don't have an account? <a href="/register" class="text-decoration-none">Register here</a>.</p>
</div>
