<% layout('layouts/boilerplate')%>
<h1 class="text-center">Register</h1>
<form action="/register" method="POST" class="validated-form mt-4" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="confirm-password">Confirm Password</label>
        <input class="form-control" type="password" id="confirm-password" name="confirmPassword" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <button class="btn btn-success w-100">Register</button>
</form>

<div class="text-center mt-3">
    <p>Already have an account? <a href="/login" class="text-decoration-none">Login here</a>.</p>
</div>
