<% layout('layouts/boilerplate')%>

    <div class="container">
        <h1 class="text-center">Create a New Post</h1>
        <p class="text-center">Select the type of post you want to create:</p>
        <div class="button-group text-center">
            <a href="/generalPosts/new" class="btn btn-primary">General Post</a>
            <a href="/mealPosts/new" class="btn btn-success">Meal Post</a>
            <a href="/workoutPosts/new" class="btn btn-warning">Workout Post</a>
        </div>
    </div>
